@media (max-width:600px) {
    *, *::after, *::before {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp (1rem, 2.2vh, 1.5rem);
    }

    img {
        display: block;
        max-width: 100%;
    }

    input, textarea, form {
        font-size: inherit;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #fcfafa;
    
        color: white;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background-color: rgba(254, 254, 255, 0.648);
        background-image: url(images/menu_black_24dp.svg);
        background-size: cover;
        display: block;
        position: absolute;
        position: absolute;
        right: 10px;
        top: 30px;
    }

    .topnav a:hover {
        background-color: #edecec;
        color: black;
    }

    .active {
        background-color: white;
        color: white;
        margin-left: -10px;
    }

    .Customer_portal-title {
        text-align: center;
        color:#39a0fb;
        font-size: 22px;
        margin-top: 0%;
    }

    .apply {
        text-align: center;
    }

    

    .apply button {
        background-color: #39a0fb;
        margin: 1em;
        
        
    }

    button {
        padding: 10px 20px;
            font-size: 14px;
            background-color: #39a0fb;
            border: none;
            color: white;
            border-radius: 20px;
            font-weight: bold;
    }

    .learn-btn, .learn-btn:active {
        background-color: #333;
        margin-left: 10px;
        padding: 10px 20px;
    }

    .learn-btn:hover {
        background-color: grey;
    }

    .sign-btn {
        background-color: #39a0fb;
        color: white;
        padding: 10px 40px;
    }

    .safety-btn {
        background-color: grey;
        margin-top: 10px;
        
    }

    .safety-btn:hover {
        background-color: rgb(12, 12, 12);
        margin-top: 10px;

    }

    .hero-section {
        
        height: 580px;
        background-image: url(images/house4.jpg);
        background-size: cover;
        color: white;
        position: relative;
    }
    .overlay {
        background-color: #333333a2;
        height: 580px;
        
    }

    .overlay h1 {
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size:xx-large;
        font-weight: 900;
    }

    .hero-section_title {
        margin-bottom: 0.3em;
        margin-left: 30px;
        padding-top: 1.5em;
        font-size: 20px;
    }

    .hero-section_details {
        margin-top: 0px;
        margin-left: 30px;
        line-height: 1.4;

    }

    .save-btn {
        background-color: rgb(1, 161, 1);
        color: white;
        margin-left: 30px;
        margin-top: 1em;
        padding: 10px 40px;
        border-radius: 5px;
    }

    .emergency {
        background-color: white;
        color: blue;
        width: 210px;
        position: absolute;
        left: 30px;
        top: 520px;
        font-size: 18px;
       
    }

    .emergency p {
        margin: 10px;
        line-height: 1.5;
    }

    .our-app {
        background-color: rgba(0, 110, 255, 0.698);
        text-align: center;
    }

    .our-app h3 {
        padding-top: 2.3em;
        font-size: 2rem;
        text-transform: capitalize;
       
    }

    .download {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding-bottom: 1em;
    }
    

    .download img {
        max-width: 210px;
        max-height: 70px;
    }

    
        .video-container {
            max-width: 800px;
            width: 100%;
            padding: 3em 5em;
        }
    
        .video {
            width: 100%;
            height: auto;
            
        }

    .about {
        color: grey;
        line-height: 1.5;
    }

    .about__metro {
        font: 1.3rem;
        color: #070707;
    }

    .about p {
        margin-bottom: 1em;

    }

    .about p:nth-of-type(4) {
        color: green;
    }
    .our-products {
        
        max-width: 450px;

        
        
    }

    .our-services {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: blue;
        margin: 30px 0px;
    }

    .services {
        background-image: url(images/house4.jpg);
        background-size: cover;
        background-position: center;
        background-color: bisque;
        max-width: 400px;
        height: 400px;
        margin: 20px auto;
    }

    .our-services-header {
        max-width: 400px;
        height: 100px;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer{
        background-color: #351d1d;
        height: 850px;
    }

    .footer p {
        font-size: 17px;
        margin-left: 30px;
        line-height: 1.2;
    }

    .footer h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
        margin-left: 1.5em;
        padding-top: 2em;
    }

    .address {
       display: flex; 
       gap: 10px;
    margin-left: 30px;
    margin-top: 20px;
    }

    .copyright {
        margin: 2em;
        background-color: white;
        color: black;
        text-align: center;
        line-height: 1.5;
    }

    .metro-color {
        color: #39a0fb;
    }

    .our-location p {
        margin-bottom: 1em;
    }

    form {
        display: flex;
        flex-flow: column;
        gap: 20px;
        
    }

    .apply__form {
        color: black;
    }

    .apply__form h2 {
        color: #39a0fb;
        margin-bottom: 10px;
    }

    form .submit-btn {
        
        margin-bottom: 20px;
    }

    input, textarea {
        width: 70%;
    }

    input::placeholder, textarea::placeholder {
        padding: 1em 1em;
        color: #070707;
    }

    ul {
        margin-left: 2em;
        list-style-type: none;
    }

    ul li {
        margin-bottom: 0.5em;
    }

    

    

  


}